---
// global stylesheets
import "../../styles/globals.css";

// import global font
import "@fontsource/poppins/400.css";
import poppins400 from "@fontsource/poppins/files/poppins-latin-400-normal.woff2?url";
import "@fontsource/poppins/500.css";
import poppins500 from "@fontsource/poppins/files/poppins-latin-500-normal.woff2?url";
import "@fontsource/poppins/600.css";
import poppins600 from "@fontsource/poppins/files/poppins-latin-600-normal.woff2?url";

export interface HeadProps {
    title?: string;
    description?: string;
    keywords?: string[];
}
interface Props extends HeadProps {
}

const {
    title = "Audio",
    description = "Dein deutsches Minecraft-Netzwerk mit einzigartigen Minigames, SMP und mehr",
    keywords = [],
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

keywords.push("Minecraft", "Minecraft Server", "Froglight.net", "Froglight", "Frog", "TheJoCraft.NET", "Froglight Server", "Frog Server", "Froglight Minecraft Server", "Frog Minecraft Server", "Froglight MC Server", "Frog MC Server", "Community", "Community Server", "Audio", "Voicechat");
---

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="HandheldFriendly" content="True"/>

<meta name="generator" content={Astro.generator}/>

<link rel="canonical" href={canonicalURL}/>

<title>{title} - froglight.net</title>
<meta itemprop="name" content={title}/>
<meta name="title" content={`${title} - froglight.net`}/>
<meta itemprop="description" content={description}/>
<meta name="description" content={description}/>
<meta name="keywords" content={keywords.join(", ")}/>

<meta property="og:type" content="website"/>
<meta property="og:url" content={Astro.url}/>
<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
<meta property="og:site_name" content="Froglight.NET"/>
<meta property="og:image" content="/assets/logo.png"/>

<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="Froglight.NET"/>
<meta property="twitter:domain" content={import.meta.env.SITE}/>
<meta property="twitter:url" content={Astro.url}/>
<meta property="twitter:title" content={title}/>
<meta property="twitter:description" content={description}/>
<meta property="twitter:image" content="/assets/logo.png"/>

<meta name="google" content="nositelinkssearchbox">

<link rel="apple-touch-icon" sizes="180x180" href="https://froglight.net/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://froglight.net/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://froglight.net/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="https://froglight.net/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="https://froglight.net/assets/favicon/safari-pinned-tab.svg" color="#333333">
<link rel="shortcut icon" href="https://froglight.net/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#333333">
<meta name="color-scheme" content="dark">
<meta name="darkreader-lock">

<link rel="prefetch" href={poppins400}/>
<link rel="prefetch" href={poppins500}/>
<link rel="prefetch" href={poppins600}/>
